@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Imperial+Script&family=Monoton&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --main-bg-color: rgb(151, 190, 90);
    --main-content-color: rgb(255, 0, 0);
    --main-font-color: rgb(255, 232, 197);
    --main-border-color: rgb(255, 162, 127);
    --main-font: "Exo 2", serif;
}

body {
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header {
    width: 100%;
}

header nav {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: flex-start;
    height: 80px; 
}

header nav button, div#logo {
    color: var(--main-font-color);
}

button {
    transition: 0.3s;
}

div#logo {
    padding: 0;
    width: 100px;
    height: auto;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    margin-left: 0;
}

#logo-img {
    filter: invert(22%) sepia(90%) saturate(5282%) hue-rotate(354deg) brightness(93%) contrast(126%);
}

#btn-home {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.3rem;
    font-style: italic;
}

#btn-menu, #btn-about {
    align-self: center;
}

header nav button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

div#content {
    width: 100%;
    height: auto;
    background-color: var(--main-content-color);
    border-radius: 10px; 
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    padding: 10px;
}

footer {
    color: var(--main-font-color);
}

/* Home styling */

.divHeadline {
    color: var(--main-font-color);
    padding: 20px;
    margin-top: 100px;
    width: 70%;
}

.divHeadline h1 {
    text-align: center;
    color: var(--main-font-color);
}

.divHeadline p {
    text-align: justify;
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Menu styling */

.divplate {
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.divPlateText {
    text-align: justify;
    font-family: var(--main-font);
    color: var(--main-font-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
    
}

.divPlateText h1 {
    font-size: 3rem;
    color: var(--main-font-color);
}

.divPlateText p {
    font-size: 2rem;
}

.divplate img {
    width: 400px;
    height: auto;
    border-radius: 5px;
    flex-shrink: 3;
}

/* About styling */

.font-train {
    font-family: "Train One", serif;
    font-weight: 400;
    font-style: normal;
}

.about-img {
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px var(--main-bg-color);
}

.about-text {
    widtH: 50%;
    color: var(--main-font-color);
    text-align: justify;
    font-size: 1.6rem;
    font-family: var(--main-font);
    padding-top: 100px;
}

.text-adress {
    text-align: center;
    color: var(--main-font-color);
    font-size: 1.5rem;
}

.map {
    width: 50%;
    height: 40vw;
    border-radius: 10px;
    box-shadow: 10px 10px var(--main-bg-color);
    margin-bottom: 50px;
}


@media (max-width: 1000px) {
    .divplate img {
        max-width: 100%;
    }
    .divPlateText {
        flex: 1;
    }
    .divPlateText p {
        font-size: 1.5rem;
    }
    .divPlateText h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    div#content {
        gap: 0;
    }
    
    header nav { 
        flex-direction: column;
        height: auto;
        gap: 0;
    }

    #btn-menu, #btn-about {
        align-self: flex-end;
    }

}